RewriteEngine On    # Turn on the rewriting engine
	#login/logout
RewriteRule    ^login/?$    login.php    [NC,L]
RewriteRule    ^logout/?$    logout.php    [NC,L]
    # Handle labs requests
RewriteRule    ^labs/?$    get_labs.php    [NC,L]
    # Handle subjects requests
RewriteRule    ^subjects/?$    get_subjects.php    [NC,L]
    # Handle reservation requests
RewriteRule    ^reservations/?$    get_reservations.php    [NC,L]