
#encabezado {
    width: 100%;
    overflow: hidden;
    height: 60px;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 33%, rgba(219,219,219,1) 69%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(33%, rgba(209,209,209,1)), color-stop(69%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 33%, rgba(219,219,219,1) 69%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 33%, rgba(219,219,219,1) 69%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 33%, rgba(219,219,219,1) 69%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 33%, rgba(219,219,219,1) 69%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
	
	position:fixed;top:0;left:0;right:0;
}

#controlDePlanilla {
	margin-top: 60px;
}

button {
    text-align: center;
    cursor: pointer;
    border: 1px solid #b9b9bb; /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0); /*IE9 y demás*/
    border-radius: 5px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: 0.1s linear -webkit-box-shadow;
    -moz-transition: 0.1s linear -moz-box-shadow;
    -ms-transition: 0.1s linear box-shadow;
    -o-transition: 0.1s linear box-shadow;
    transition: 0.1s linear box-shadow;
}

.botonDeFormulario {
    font-size: 14px;
    height: 35px;
    padding: 0.5em 1.5em 0.5em;
    color: #030303;
    background-color: #c6c6c7;
}

button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.05)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05));
    background-image: -ms-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.05));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.05));
}

button:focus {
    outline: 0;
}

button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

.checkbox, .radio {
    position:relative;
    margin-bottom:0.5em;
    line-height:22px;
}
input[type="checkbox"],
input[type="radio"] {
    position:absolute;
    /* Reset anything that could peek out or interfere with dimensions */            overflow:hidden;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    opacity:0;
}
label {
    position:relative;
    margin-left:25px;
}
/*  Insert a pseudo element inside each label and give it a background  image that will become the custom checkbox or radio button. Using inline-block lets you use vertical-align to adjust it vertically  as needed.  */  input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    position:absolute;
    left:-25px;
    top:0;
    display:inline-block;
    width:0.8333333333em;
    height:0.8333333333em;
    line-height:1em;
    padding:2px 2px 4px 4px;
    background:#e5e5e5;
    background:-webkit-linear-gradient(top,#c5c5c5,#e5e5e5);
    background:-moz-linear-gradient(top,#c5c5c5,#e5e5e5);
    background:-o-linear-gradient(top,#c5c5c5,#e5e5e5);
    background:-ms-linear-gradient(top,#c5c5c5,#e5e5e5);
    background:linear-gradient(top,#c5c5c5,#e5e5e5);
    content:" ";
    margin-top:-0.08333333333em;
    /* 1px */            cursor:pointer;
    text-align:center;
    vertical-align:top;
    border-radius:2px;
    -webkit-box-shadow:inset 0 0 1px #fff;
    box-shadow:inset 0 0 1px #fff;
    border:1px solid #999999;
    color:#555;
}
input[type="checkbox"]:checked + label:before {
    content:"\2713";
}
input[type="radio"]:focus + label:before,
input[type="checkbox"]:focus + label:before {
    -webkit-box-shadow:0 0 5px #1082e6;
    box-shadow:0 0 5px #1082e6;
    border-color:#1082e6;
    color:#1082e6;
}

.ingresarTexto { 
    border: 1px solid #c4c4c4; 
    height: 25px; 
    width: 125px; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
} 
 
.ingresarTexto:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 

#titulo {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

#inicioDeSesion {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}


.informacionGeneral {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14;
    margin-top: 5px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: bold;
    text-align: center;
    text-shadow: -1px 1px 2px #A1A1A1;
    float: left;
}

.explicacionDeColores {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
}

.colores {
    width: 7%;
    border-radius: 5px;
    height: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    box-sizing:border-box;
}

.explicacion {
    width: 91%;
    border-radius: 5px;
    height: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2%;
    float: left;
    box-sizing:border-box;
}


#calendario {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
    border-radius: 2px;
    overflow: hidden;
}
#columnaDeFechas {
    width: 10%;
    height: 100%;
    box-sizing:border-box;
    float: left;
}

#columnaDeTodosLosLaboratorios {
    width: 90%;
    height: 100%;
    box-sizing:border-box;
    float: left;
}

.columnaDeUnLaboratorio {
	width: 19%;
    margin-right: 1%;
    box-sizing: border-box;
    float: left;
}

.encabezado{
	width: 100%;
	margin-top: 5px;
	height: 20px;
	margin-bottom: 10px;
}

.dia, .diaDeLaboratorio{
    width: 100%;
	height: 150px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    float: left;
}

.diaDeLaboratorio{
    border-color: grey;
    border-style: solid;
    border-width: 1px;
}


h3 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 15;
	margin-top: 0px;
	font-weight: bold;
	text-align: center;
	text-shadow: -1px 1px 3px #A1A1A1;
}

h4.fecha {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14;
	margin-top: 20px;
	font-weight: bold;
	text-align: center;
	text-shadow: -1px 1px 2px #A1A1A1;
}

.momento {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 0px;
	width: 100%;
    float: left;
}





#pedidoDeReserva {
	width: 50%;
	text-align: left;
	margin: 40px auto 40px auto;
}

#selectorDeFranja {
	margin: 10px 0px 20px;
}

#horarioAclarado {
	font-size: small;
	text-align: center;
}

#divBotonListo {
	text-align: right;
	font-size: large;
	margin-bottom: 30px;
}

#divIconoWarning {
	float: left;
	margin-top: 5px;
}

#iconoWarning {
	margin-right: 10px;
}

#cuadroJustificacion {
	clear: both;
	margin: 10px 0px 10px;
}

#justificacion {
	width: 85%;
	height: 2.5em;
}



#pie {
	clear: both;
	padding: 5px;
	/*background: #5E783A;*/
	background-color:rgba(0,0,0,0.7);
	color: white;
	text-align: right;
	font-size: small;
	position:fixed;bottom:0;left:0;right:0;height:1em;
}

#contacto {
	color: #FFFFFF;
}