<div id="cancelarReserva" ng-style='margen'>
	<div class="reserva">
		
		<span class="fechaAltaSlider">Fecha y hora de alta de la solicitud: {{nuevoDate(reserva.creation_date).toLocaleString()}}</span>
		<br>
		<div class="fechaSolicitadaSlider">
			<span>Fecha solicitada: {{reserva.fecha.toLocaleDateString()}}</span>
		</div>
		<br>
		<div range-slider min="510" max="1320" model-min="reserva.horario.de" model-max="reserva.horario.a" attach-handle-values="true" prevent-equal-min-max="true" step="5" filter="hourMinFilter" disabled="true"></div>
		
		<div class="horarioAclarado">
			<span>Horario solicitado: desde las <strong>{{reserva.horario.de | hourMinFilter}}</strong> hasta las <strong>{{reserva.horario.a | hourMinFilter}}</strong>.</span>
			<div id="divBotonCancelar">
				<button class="botonDeFormulario" ng-click="cancelarReserva()">Cancelar reserva</button>
			</div>
		</div>
		
		<span>Laboratorio: {{reserva.laboratorio}}</span>
		<br>
		<span>Docente: {{reserva.docente.nombre}}</span>
		<br>
		<span>Materia: {{reserva.subject}}</span>
	</div>


	<button class= 'botonDeFormulario' ng-click='volver()'>Volver</button>

</div>