<div id="cancelarPedidoOReserva" ng-style='margen'>
	<div class="pedidoOReserva" ng-repeat="pedidoOReserva in pedidosOReservas">
		
		<span class="fechaAltaSlider">Fecha y hora de alta de la solicitud: {{nuevoDate(pedidoOReserva.creation_date).getFechaLargaConAnio()}}, {{nuevoDate(pedidoOReserva.creation_date).getMinutosDesdeMedianoche() | hourMinFilter}}</span>
		<br>
		<div class="fechaSolicitadaSlider">
			<span>Fecha solicitada: {{pedidoOReserva.begin.getFechaLargaConAnio()}}</span>
		</div>
		<br>
		<div range-slider min="minimo" max="maximo" 
			model-min="pedidoOReserva.begin.getMinutosDesdeMedianoche()" 
			model-max="pedidoOReserva.end.getMinutosDesdeMedianoche()" 
			attach-handle-values="true" prevent-equal-min-max="true" step="5" filter="hourMinFilter" disabled="true"></div>
		
		<div class="horarioAclarado">
			<span>Horario solicitado: desde las 
				<strong>
					{{pedidoOReserva.begin.getMinutosDesdeMedianoche() | hourMinFilter}}
				</strong> hasta las <strong>
					{{pedidoOReserva.end.getMinutosDesdeMedianoche() | hourMinFilter}}
				</strong>.
			</span>
			<div id="divBotonCancelar">
				<button class="botonDeFormulario" ng-click="cancelar(pedidoOReserva)">Cancelar {{pedidoOReserva.tipo}}</button>
			</div>
		</div>
		
		<span>Laboratorio: {{vistaAnterior.getNombreDelLab(pedidoOReserva.lab_id)}}</span>
		<br>
		<span>Docente: {{pedidoOReserva.nombreYApellidoDelDocente}}</span>
		<br>
		<span>Materia: {{pedidoOReserva.subject}}</span>
	</div>


	<button class= 'botonDeFormulario' ng-click='volver()'>Volver</button>

</div>