<div id="cargar_materias" ng-style='margen'>
	<h3>Cargar Materias</h3>
	<div>
		<label class="nombre_campo">Especialidad: </label>
		<select ng-model="especialidadSeleccionada" id="dropdown_especialidades" name="especialidad"
				ng-options="especialidad.nombre for especialidad in especialidades">
		</select>
		<div class="materias_cargadas">
			<ul>
				<li ng-repeat="materia in especialidadSeleccionada.materias">
					{{materia}}
				</li>
			</ul>
		</div>
		<label class="nombre_campo" for="materia">Materia: </label><input type="text" id="materia" name="materia" maxlength="50" required="required" oninvalid="this.setCustomValidity('Le falta ingresar la materia')" onchange="this.setCustomValidity('')" />
		<button type="button" id="cargar" disabled="true">Cargar</button>
		
		
	</div>
	
	
	
	<button class= 'botonDeFormulario' ng-click='volver()'>Volver</button>

</div>