<div id="cargar_materias" ng-style='margen'>
	<h3>Cargar Materias</h3>
	<form id="materias">
		<div class="especialidad">
			<label class="nombre_campo">Especialidad: </label>
			<select ng-model="especialidadSeleccionada" name="especialidad"
					ng-options="especialidad.name for especialidad in especialidades">
			</select>
		</div>
		<span ng-show="especialidadSeleccionada">Materias cargadas:</span>
		<div class="materias_cargadas" ng-show="especialidadSeleccionada">
			<ul>
				<li ng-repeat="materia in especialidadSeleccionada.subjects">
					{{materia.name}}
				</li>
			</ul>
		</div>
		<div ng-show="especialidadSeleccionada">
			<label class="nombre_campo" for="materia">Materia nueva: </label><input type="text" id="materia" name="materia" ng-model="materiaIngresada" ng-disabled="cargando" maxlength="50" />
			<button type="submit" id="cargar" class="botonDeFormulario" ng-disabled="cargando" ng-click="cargarMateria()">Cargar</button>
			<span class="cargando" ng-show="cargando">Cargando...</span>
		</div>
		
		
	</form>
	
	
	<button class= "botonDeFormulario volver" ng-click='volver()'>Volver</button>

</div>