<header id='encabezado'>
	<h1 id='titulo'>DISI Labs</h1>
	<form id='inicioDeSesion'>
		<span ng-show='usuario.inicioSesion'>Hola {{usuario.name}}</span>

		<button type='submit' class='botonDeFormulario' ng-click="clickSoyDocente();" ng-hide=' usuario.inicioSesion'>Soy Docente</button>
		<button type='button' class='botonDeFormulario' ng-click="clickSoyEncargado()" ng-hide='usuario.inicioSesion || soyEncargado'>Soy Encargado</button>
		<input type="text" id='nombreDeUsuarioGLPI' class='ingresarTexto' ng-model="usuario.username" placeholder='Usuario GLPI' ng-hide='usuario.inicioSesion || !soyEncargado'></input>
		<input type="password" class='ingresarTexto' ng-model="usuario.password" placeholder='Contraseña' ng-hide='usuario.inicioSesion || !soyEncargado'></input>
		<button type='submit' class='botonDeFormulario' ng-click="iniciarSesionConGLPI()" ng-hide='usuario.inicioSesion || !soyEncargado'>Iniciar Sesi&oacute;n</button>
		<button type='button' class='botonDeFormulario' ng-click="cerrarSesionSinap()" ng-show=' usuario.inicioSesion && !usuario.esEncargado'>Cerrar Sesi&oacute;n SINAP</button>
		<button type='button' class='botonDeFormulario' ng-click="cerrarSessionGLPI()" ng-show=' usuario.inicioSesion && usuario.esEncargado'>Cerrar Sesi&oacute;n GLPI</button>
	</form>
</header>

<form id='controlDePlanilla'>
	<div>
		<button class="botonDeFormulario botonEncabezado" ng-show='usuario.inicioSesion && !usuario.esEncargado && $state.includes("planillaReservas")' ng-click="irAlHistorial()">Historial de Reservas</button>
	</div>
	<div>
		<button class="botonDeFormulario botonEncabezado" ng-show='usuario.inicioSesion && usuario.esEncargado && $state.includes("planillaReservas")' ng-click="irALasSolicitudesPendientes()">Solicitudes Pendientes</button>
	</div>
	<div>
		<button class="botonDeFormulario botonEncabezado" ng-show='usuario.inicioSesion && usuario.esEncargado && $state.includes("planillaReservas")' ng-click="irACargarMaterias()">Cargar Materias</button>
		<button class="botonDeFormulario botonEncabezado" ng-show='usuario.inicioSesion && usuario.esEncargado && $state.includes("planillaReservas") && usuario.esAdministrador' ng-click="verAsistencia()">Ver Asistencia</button>
	</div>
	<div class="checkbox opcionDeMostrarAyuda" ng-show="explicaciones.length"> 
		<input type="checkbox" ng-model="mostrarAyuda.mostrar" id="mostrarAyuda.mostrar" name="mostrarAyudaCheck" ng-change="actualizarMargen()"/>
		<label for="mostrarAyuda.mostrar" name="mostrarAyudaCheck"> 
			&iquest;Mostrar ayuda? 
		</label> 
	</div>
</form>
<div id='ayuda' ng-style='alturaDeAyudas'>
	<div ng-show='mostrarAyuda.mostrar' class='explicacionDeColores' ng-repeat='explicacion in explicaciones'>
		<button class='color' ng-style='{"background-color" : explicacion.color}'>{{explicacion.nombreDeColor}}</button>
		<p class='explicacion'>{{explicacion.texto}}</p>
	</div>
</div>
