<header id='encabezado'>
	<h1 id='titulo'>DISI Labs</h1>
	<form id='inicioDeSesion'>
		<input type="text" class='ingresarTexto' ng-model="usuario.nombre" placeholder='Usuario SinAp' ng-hide='usuario.inicioSesion'></input>
		<input type="text" class='ingresarTexto' ng-model="usuario.password" placeholder='Contraseña' ng-hide='usuario.inicioSesion'></input>
		<button class= 'botonDeFormulario' ng-click="iniciarSesion()" ng-hide='usuario.inicioSesion'>Iniciar Sesión</button>
		<button class= 'botonDeFormulario' ng-click="cerrarSesion()" ng-show='usuario.inicioSesion'>Cerrar Sesión</button>
	</form>
</header>

<form id='controlDePlanilla'>
	<div>
		<button class= 'botonDeFormulario' ng-show='usuario.inicioSesion && !usuario.esEncargado && $state.includes("planillaReservas")' ng-click="irAlHistorial()">Historial de Reservas</button>
	</div>
	<!---<div>
		<button class= 'botonDeFormulario' ng-show='usuario.inicioSesion && usuario.esEncargado && $state.includes("planillaReservas")' ng-click="irALasSolicitudesPendientes()">Solicitudes Pendientes</button>
	</div>-->
	<div>
		<button class= 'botonDeFormulario' ng-show='usuario.inicioSesion && usuario.esEncargado && $state.includes("planillaReservas")' ng-click="irACargarMaterias()">Cargar Materias</button>
	</div>
	<div class="checkbox"> 
		<input type="checkbox" ng-model="mostrarAyuda" id="mostrarAyuda" name="mostrarAyudaCheck" ng-click="actualizarMargen()"/>
		<label for="mostrarAyuda" name="mostrarAyudaCheck"> 
			¿Mostrar ayuda? 
		</label> 
	</div>
</form>
<div id='ayuda' ng-style='alturaDeAyudas'>
	<div ng-show='mostrarAyuda' class='explicacionDeColores' ng-repeat='explicacion in explicaciones'>
		<button class='colores' ng-style='{"background-color" : explicacion.color}'>{{explicacion.nombreDeColor}}</button>
		<p class='explicacion'>{{explicacion.texto}}</p>
	</div>
</div>


