<div id="hoverbox_' + 'rojo' + '" class="hoverbox lab_' + 'rojo' + '">
	<div class="titulo_hoverbox" >Prestaciones del laboratorio <span class="primera_mayus">' + 'Rojo' + '</span></div>
	<table>
		<tr>
			<td>Capacidad: </td>
			<td>' + 'unacapacidad' + '</td>
		</tr>
		<tr>
			<td>Cantidad de PCs: </td>
			<td>' + 'unacantidaddepcs' + '</td>
		</tr>
		<tr>
			<td>Procesadores: </td>
			<td>' + 'procesadores' + '</td>
		</tr>
		<tr>
			<td>Memoria RAM: </td>
			<td>' + 'ram' + '</td>
		</tr>
		<tr>
			<td>Monitores: </td>
			<td>' + 'monitores' + '</td>
		</tr>
	</table>
</div>'