<div id="navegacion">
	<ul>
		<li ng-class="{ active: inicio}"><a href ng-click='muestro.seleccionarInicio()'><span>Inicio</span></a></li>
		<li ng-class="{ active: solicitarReservas}"><a href ng-click='muestro.seleccionarSolicitarReservas()'><span>Solicitar reservas</span></a></li>
		<li ng-class="{ active: reservasAnteriores}"><a href ng-click='muestro.seleccionarReservasAnteriores()'><span>Ver sus reservas</span></a></li>
		<li ng-class="{ active: cerrarSesion}"><a href ng-click='muestro.seleccionarCerrarSesion()'><span>Cerrar sesi&oacute;n</span></a></li>
	</ul>
</div>