<div id="pedidoDeReserva" ng-style='margen'>
		
	<div class="reserva">
		<div class="fechaSolicitadaSlider">
			<span>Fecha: {{evento.begin.getFechaLargaConAnio()}}</span>
		</div>
		<br>
		
		<span id="instrucciones-slider">Arrastre los extremos para definir el horario deseado:</span>
		<div class="selectorDeFranja" range-slider min="minimoPermitido()" max="maximoPermitido()" model-min="franjaSeleccionada.desde" model-max="franjaSeleccionada.hasta" attach-handle-values="true" prevent-equal-min-max="true" step="5" filter="hourMinFilter"></div>
		
		<div class="horarioAclarado">
			<span>Horario deseado: desde las <strong>{{franjaSeleccionada.desde | hourMinFilter}}</strong> hasta las <strong>{{franjaSeleccionada.hasta | hourMinFilter}}</strong>.</span>
			<div id="divBotonListo">
				<button class="botonDeFormulario" ng-click="enviarSolicitud()">Listo!</button>
			</div>
		</div>

		<div class="comentario">
			<textarea ng-model="evento.description" rows="4" cols="60" maxlength="200" placeholder="Comentario&nbsp;opcional..."></textarea>
		</div>
		
		<div>
			<span>Laboratorio: {{vistaAnterior.getNombreDelLab(evento.lab_id)}}</span>
			<br>
			<span>Docente: {{docente.nombre}}</span>
			<br>
			<span>Materia: {{evento.subject}}</span>
		</div>
	</div>
	
	<!-- No tenemos info sobre cursos
	<div id="explicacionHorarioImpropio" ng-show="eseHorarioNoEsPropio(franjaSeleccionada)">
		<div id="divIconoWarning">
			<img id="iconoWarning" src="img/warning.png" height="32" width="32" align="middle">
		</div>
		<div id="mensajeHorarioImpropio">
			<span id="mensajeAdvertencia">El horario seleccionado no est&aacute; incluido totalmente en el de su materia.</span>
			<br>
			<span id="instruccionesJustificacion">Por favor describa brevemente el motivo por el cual desea el horario extra:</span>
		</div>
		<div id="cuadroJustificacion">
			<textarea id="justificacion" class="ingresarTexto" ng-model="justificacionIngresada"></textarea>
		</div>
	</div>
	-->

	<button class= 'botonDeFormulario' ng-click='volver()'>Volver</button>

</div>