<div id="solicitudes_pendientes" ng-style='margen'>
	<p><h2 align="center" style="'Helvetica Neue', bold, Helvetica, Arial, sans-serif;"><strong>SOLICITUDES PENDIENTES</h2></strong></p>
	<div class="formato_solicitudes_pendientes" ng-repeat="pedido in pedidos">
	
		<span class="fechaAltaSlider"><p align="right" style="font-size: 12px"><strong>Fecha y hora de alta:</strong> {{pedido.creation_date.getFechaLargaConAnio()}}, {{pedido.creation_date.getMinutosDesdeMedianoche() | hourMinFilter}}</span></p>
		<br>
		<div class="fechaSolicitadaSlider">
			<span><strong>Fecha solicitada:</strong> {{pedido.begin.getFechaLargaConAnio()}}</span>
		</div>
		<br>
		<div range-slider min="minimo" max="maximo" 
			model-min="pedido.beginContraofertable" 
			model-max="pedido.endContraofertable" 
			attach-handle-values="true" prevent-equal-min-max="true" step="5" filter="hourMinFilter"></div>

		<span><p align="right" style="font-size: 12px"><i>Arrastre los extremos para definir el horario deseado</i></p></span>
		<div class="horarioAclarado">
			<span><strong>Horario solicitado:</strong> de
				<strong>
					{{pedido.beginContraofertable | hourMinFilter}}
				</strong>hs a 
				<strong>{{pedido.endContraofertable | hourMinFilter}}
				</strong>hs.
			</span>
		</div>

		
		
		<p><label class="nombre_campo"><strong>Laboratorio:</strong></label>
		<select ng-model="pedido.labContraofertable" name="laboratorio"
				ng-options="laboratorio for laboratorio in nombresDeLaboratorios"></p>
		</select>
		<br>
		<p><span><strong>Docente:</strong> {{pedido.docenteName}}</span></p>
		<p><span><strong>Materia:</strong> {{pedido.subject}}</span></p>
		<br>
		<span ng-show="seSuperponeConOtraReserva(pedido)" style="color:red;font-weight:bold">Se superpone con otra reserva o contraoferta. Modifique el laboratorio y/o el horario para hacer una contraoferta.</span>
		<span ng-show="seSuperponeConOtroPedido(pedido)" style="color:blue;font-weight:bold">Se Superpone con otro pedido sin confirmar.</span>
		
		<div class="comentario">
			<label ng-model="pedido.description" rows="4" cols="60" maxlength="400" placeholder="Comentario&nbsp;opcional..."></label>
		</div>

		<div class="comentario" ng-show="pedido.requiereJustificacion">
			<textarea ng-model="pedido.justificacion" rows="4" cols="60" maxlength="400" placeholder="Escriba una justificacion..."></textarea>
		</div>

		<div id="opciones_solicitud">
			<button id="hover_boton" class= 'botonesDeSolicitudesPendientes' ng-click="aceptarJustificacion(pedido)" ng-show="pedido.requiereJustificacion">Aceptar</button>
			<button id="hover_boton" class= 'botonesDeSolicitudesPendientes' ng-click="cancelarJustificacion(pedido)" ng-show="pedido.requiereJustificacion">Cancelar</button>
			<button id="hover_boton" class= 'botonesDeSolicitudesPendientes' ng-click="confirmar(pedido)" ng-hide="seContraoferto(pedido) || seSuperponeConOtraReserva(pedido) || pedido.listo || pedido.requiereJustificacion">Confirmar</button>
			<button id="hover_boton" class= 'botonesDeSolicitudesPendientes' ng-click="iniciarContraofertar(pedido)" ng-show="seContraoferto(pedido) && !pedido.requiereJustificacion">Contraofertar</button>
			<button id="hover_boton" class= 'botonesDeSolicitudesPendientes' ng-click="iniciarRechazar(pedido)" ng-hide="pedido.listo || pedido.requiereJustificacion">Rechazar</button>

		</div>
	</div>

	<div id="Espaciado"><button volver class= 'botonDeVolverEspaciado'>Volver</button></div>
</div>