<div id="pedidoDeReserva"
		
	<span id="instrucciones-slider">Arrastre los extremos para definir el horario deseado:</span>
	<div class="selectorDeFranja" range-slider min="minimoPermitido()" max="maximoPermitido()" model-min="franjaSeleccionada.de" model-max="franjaSeleccionada.a" attach-handle-values="true" prevent-equal-min-max="true" step="5" filter="hourMinFilter"></div>
	
	<div class="horarioAclarado">
		<span>Horario deseado: desde las <strong>{{franjaSeleccionada.de | hourMinFilter}}</strong> hasta las <strong>{{franjaSeleccionada.a | hourMinFilter}}</strong>.</span>
		<div id="divBotonListo">
			<button class="botonDeFormulario" ng-click="" ng-disabled="pareceQueNoJustifico()">Listo!</button>
		</div>
	</div>
	
	
	<div id="explicacionHorarioImpropio" ng-show="eseHorarioNoEsPropio(franjaSeleccionada)">
		<div id="divIconoWarning">
			<img id="iconoWarning" src="img/warning.png" height="32" width="32" align="middle">
		</div>
		<div id="mensajeHorarioImpropio">
			<span id="mensajeAdvertencia">El horario seleccionado no est&aacute; incluido totalmente en el de su materia.</span>
			<br>
			<span id="instruccionesJustificacion">Por favor describa brevemente el motivo por el cual desea el horario extra:</span>
		</div>
		<div id="cuadroJustificacion">
			<textarea id="justificacion" class="ingresarTexto" ng-model="justificacionIngresada"></textarea>
		</div>
	</div>

	<button class= 'botonDeFormulario' ng-click='volver()'>Volver</button>

</div>