<div id="solicitudes_pendientes" ng-style='margen'>
	<h3>Solicitudes Pendientes</h3>
	<div class="reserva" ng-repeat="solicitud in solicitudes">
	
		<span class="fechaAltaSlider">Fecha y hora de alta de solicitud: {{solicitud.creation_date.getFechaLargaConAnio()}}, {{solicitud.creation_date.getMinutosDesdeMedianoche() | hourMinFilter}}</span>
		<br>
		<div class="fechaSolicitadaSlider">
			<span>Fecha solicitada: {{solicitud.begin.getFechaLargaConAnio()}}</span>
		</div>
		<br>
		<div range-slider min="510" max="1320" 
			model-min="solicitud.beginContraofertable" 
			model-max="solicitud.endContraofertable" 
			attach-handle-values="true" prevent-equal-min-max="true" step="5" filter="hourMinFilter"></div>
		
		<div class="horarioAclarado">
			<span>Horario solicitado: desde las 
				<strong>
					{{solicitud.beginContraofertable | hourMinFilter}}
				</strong> hasta las 
				<strong>{{solicitud.endContraofertable | hourMinFilter}}
				</strong>.
			</span>
		</div>
		
		<label class="nombre_campo">Laboratorio: </label>
		<select ng-model="solicitud.labContraofertable" name="laboratorio"
				ng-options="laboratorio for laboratorio in nombresLabs">
		</select>
		<br>
		<span>Docente: {{solicitud.docente.nombre}}</span>
		<br>
		<span>Materia: {{solicitud.subject}}</span>
		<div id="opciones_solicitud">
			<span id="listo" ng-show="solicitud.listo">Listo!</span>
			<button class= 'botonDeFormulario' ng-click="confirmar(solicitud)" ng-disabled="solicitud.listo" ng-hide="seContraoferto(solicitud)">Confirmar</button>
			<button class= 'botonDeFormulario' ng-click="contraofertar(solicitud)" ng-show="seContraoferto(solicitud)">Contraofertar</button>
			<button class= 'botonDeFormulario' ng-click="rechazar(solicitud)" ng-disabled="solicitud.listo">Rechazar</button>
		</div>
	
	</div>
	
	
	
	<button class= 'botonDeFormulario' ng-click='volver()'>Volver</button>

</div>