<div id="solicitudes_pendientes" ng-style='margen'>
	<h3>Solicitudes Pendientes</h3>
	<div class="reserva" ng-repeat="pedido in pedidos">
	
		<span class="fechaAltaSlider">Fecha y hora de alta de solicitud: {{pedido.creation_date.getFechaLargaConAnio()}}, {{pedido.creation_date.getMinutosDesdeMedianoche() | hourMinFilter}}</span>
		<br>
		<div class="fechaSolicitadaSlider">
			<span>Fecha solicitada: {{pedido.begin.getFechaLargaConAnio()}}</span>
		</div>
		<br>
		<div range-slider min="minimo" max="maximo" 
			model-min="pedido.beginContraofertable" 
			model-max="pedido.endContraofertable" 
			attach-handle-values="true" prevent-equal-min-max="true" step="5" filter="hourMinFilter"></div>
		
		<div class="horarioAclarado">
			<span>Horario solicitado: desde las 
				<strong>
					{{pedido.beginContraofertable | hourMinFilter}}
				</strong> hasta las 
				<strong>{{pedido.endContraofertable | hourMinFilter}}
				</strong>.
			</span>
		</div>

		<div class="comentario">
			<textarea ng-model="pedido.description" rows="4" cols="60" maxlength="200" placeholder="Comentario&nbsp;opcional..."></textarea>
		</div>
		
		<label class="nombre_campo">Laboratorio: </label>
		<select ng-model="pedido.labContraofertable" name="laboratorio"
				ng-options="laboratorio for laboratorio in nombresDeLaboratorios">
		</select>
		<br>
		<span>Docente: {{pedido.docenteName}}</span>
		<br>
		<span>Materia: {{pedido.subject}}</span>
		<br>
		<span ng-show="seSuperponeConOtraReserva(pedido)" style="color:red;font-weight:bold">Se superpone con otra reserva o contraoferta. Modifique el laboratorio y/o el horario para hacer una contraoferta.</span>
		<span ng-show="seSuperponeConOtroPedido(pedido)" style="color:blue;font-weight:bold">Se Superpone con otro pedido sin confirmar.</span>
		<div class="comentario" ng-show="pedido.requiereJustificacion">
			<textarea ng-model="pedido.justificacion" rows="4" cols="60" maxlength="200" placeholder="Escriba una justificacion..."></textarea>
		</div>
		<div id="opciones_solicitud">
			<button class= 'botonDeFormulario' ng-click="aceptarJustificacion(pedido)" ng-show="pedido.requiereJustificacion">Aceptar</button>
			<button class= 'botonDeFormulario' ng-click="cancelarJustificacion(pedido)" ng-show="pedido.requiereJustificacion">Cancelar</button>
			<button class= 'botonDeFormulario' ng-click="confirmar(pedido)" ng-hide="seContraoferto(pedido) || seSuperponeConOtraReserva(pedido) || pedido.listo || requiereJustificacion(pedido)">Confirmar</button>
			<button class= 'botonDeFormulario' ng-click="contraofertar(pedido)" ng-show="seContraoferto(pedido) && !seSuperponeConOtraReserva(pedido) && !pedido.listo ">Contraofertar</button>
			<button class= 'botonDeFormulario' ng-click="rechazar(pedido)" ng-hide="pedido.listo || requiereJustificacion(pedido)">Rechazar</button>
		</div>
	</div>

	<button volver class= 'botonDeFormulario'>Volver</button>

</div>