<div id="pedidoDeReserva" ng-style='margen'>
		
	<div class="reserva">
		<div class="fechaSolicitadaSlider">
			<p><h2 align="center" style="'Helvetica Neue', bold, Helvetica, Arial, sans-serif;"><strong>SOLICITUD DE RESERVA</h1></strong></p>
			<span><strong>Fecha:</strong> {{evento.begin.getFechaLargaConAnio()}}</span>
		</div>
		<br>
		
		
		<div class="selectorDeFranja" range-slider min="minimoPermitido()" max="maximoPermitido()" model-min="franjaSeleccionada.desde" model-max="franjaSeleccionada.hasta" attach-handle-values="true" prevent-equal-min-max="true" step="5" filter="hourMinFilter"></div>
		
		<span><p align="right" style="font-size: 12px"><i>Arrastre los extremos para definir el horario deseado</i></p></span>
		
		<div class="horarioAclarado">
			<span><strong>Horario:</strong> de <strong>{{franjaSeleccionada.desde | hourMinFilter}}hs</strong> a <strong>{{franjaSeleccionada.hasta | hourMinFilter}}hs</strong>.</span>
		</div>
		
		<div>
			<p><span><strong>Laboratorio:</strong> {{vistaAnterior.getNombreDelLab(evento.lab_id)}}</span></p>
			<p><span ng-show="hechoPorDocente"><strong>Docente:</strong> {{docente.name}}</span></p>
			<p><span ng-hide="hechoPorDocente"><strong>Docente:</strong> {{docente.name}}</span></p>
			</p><span><strong>Materia:</strong> {{evento.subject}}</span></p>
		</div>
		<br>
		<div class="comentario">
			<textarea ng-model="evento.description" rows="4" cols="60" maxlength="200" placeholder="Comentario&nbsp;opcional..."></textarea>
		</div>
		
		<div id="divBotonListo">
				<button class="botonDeConfirmar" ng-click="enviarSolicitud()">Confirmar</button>
		</div>
	</div>
	
	<!-- No tenemos info sobre cursos
	<div id="explicacionHorarioImpropio" ng-show="eseHorarioNoEsPropio(franjaSeleccionada)">
		<div id="divIconoWarning">
			<img id="iconoWarning" src="img/warning.png" height="32" width="32" align="middle">
		</div>
		<div id="mensajeHorarioImpropio">
			<span id="mensajeAdvertencia">El horario seleccionado no est&aacute; incluido totalmente en el de su materia.</span>
			<br>
			<span id="instruccionesJustificacion">Por favor describa brevemente el motivo por el cual desea el horario extra:</span>
		</div>
		<div id="cuadroJustificacion">
			<textarea id="justificacion" class="ingresarTexto" ng-model="justificacionIngresada"></textarea>
		</div>
	</div>
	-->

	<button volver class= 'botonDeVolver'>Volver</button>

</div>