<form ng-style='margen'>
	<div id="especificacionDeMateria" ng-show='usuario.inicioSesion'><!-- O bien, el encargado seleccionó un docente (falta hacer esa parte) -->
		
		<label class="nombre_campo" ng-show='usuario.esEncargado'>Docente: </label>
		<select ng-model="usuario.docenteElegido" name="docente" ng-show='usuario.esEncargado'
				ng-options="docente.nombre for docente in docentes">
		</select>
		
		<label class="nombre_campo con_margen_izquierdo">Especialidad: </label>
		<select ng-model="especialidad" name="especialidad" ng-change="actualizarEspecialidad()"
				ng-options="especialidad.nombre for especialidad in especialidades">
		</select>
		
		<label class="nombre_campo con_margen_izquierdo" ng-show="especialidad && seConocenLasMateriasDe(especialidad)" >Materia: </label>
		<select ng-model="materia" name="materia" ng-show="especialidad && seConocenLasMateriasDe(especialidad)" ng-change="actualizarMateria()" ng-options="materia for materia in especialidad.materias">
		</select>
		
		<label class="nombre_campo con_margen_izquierdo" for="materia" ng-show="especialidad && !seConocenLasMateriasDe(especialidad)">Materia: </label><input type="text" id="materiaIngresada" name="materia" ng-model="materia" maxlength="50" ng-show="especialidad && !seConocenLasMateriasDe(especialidad)" ng-change="actualizarMateria()"/>
		
	</div>
	<div>
	</div>
</form>

<div id='calendario' infinite-scroll="cargarMasDias(7)">
	<div id='columnaDeFechas'><!--Tamaño fijo para fechas-->
		<div class='encabezado'>
			<h3>Fecha</h3>
		</div>
		<div class='dia' ng-repeat='dia in dias'>
			<h4 class='fecha'>{{dia.fecha.getFechaLarga()}}</h4>
		</div>
	</div>
	<div id='columnaDeTodosLosLaboratorios'><!--100% del tamaño restante-->
		<div class='columnaDeUnLaboratorio' ng-repeat='laboratorio in laboratorios'>
			<div class='encabezado'>
				<h3><button class="nombre_lab_span lab_{{laboratorio.nombre | lowercase}}" ng-click="laboratorio.clickEnInfo = true">{{laboratorio.nombre}}</span></h3>
				<modal-dialog show="laboratorio.clickEnInfo">
					<div id="hoverbox_{{laboratorio.nombre | lowercase}}" class="hoverbox lab_{{laboratorio.nombre | lowercase}}">
						<div class="titulo_hoverbox" >Prestaciones del laboratorio <span class="primera_mayus">{{laboratorio.nombre}}</span></div>
						<table>
							<tbody>
								<tr>
									<td>Sede:</td>
									<td>{{laboratorio.sede}}</td>
								</tr>
								<tr>
									<td>Cantidad de puestos:</td>
									<td>{{laboratorio.cant_puestos}}</td>
								</tr>
								<tr>
									<td>Equipamiento:</td>
									<td>{{laboratorio.equipamiento}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</modal-dialog>
			</div>
			<div class='diaDeLaboratorio' ng-repeat='dia in laboratorio.dias'>
				<button class='franja' ng-style='estiloSegun(dia.franjas[$index-1], franja, dia.franjas[$index+1])' ng-repeat='franja in dia.franjas' ng-click='mostrarLaFranja(franja)'>
					<div ng-show="franja.hasta.getMinutosDesdeMedianoche() - franja.desde.getMinutosDesdeMedianoche() >= 120">
					{{franja.desde.getHoraEnString()}} a {{franja.hasta.getHoraEnString()}}
					</div>
				</button>
			</div>
		</div>
	</div>
</div>