<div id="estado_reservas" ng-style='margen'>
	<h3 style="font-size: 30px">Estado de sus reservas</h3>
	<input type="text" id="busqueda_reservas" class="ingresarTexto" ng-model="query" placeholder="Buscar..."></input>
	<table id="reservas_table" class="tabla_normal">
		<thead>
			<tr>
				<th>
					Fecha de Alta
				</th>
				<th>
					Alumnos
				</th>
				<th>
					Laboratorio
				</th>
				<th>
					Fecha Pedida
				</th>
				<th>
					Estado
				</th>
			</tr>
		</thead>
		<tbody id="cuerpo_tabla_reservas">
			<tr ng-hide="reservas">
				<td colspan="5">Consultando la base de datos...</td>
			</tr>
			<tr ng-repeat="reserva in reservas | filter:query | orderBy:'fecha_alta'">
				<td>{{reserva.fecha_alta}}</td>
				<td>{{reserva.cant_alumnos}}</td>
				<td><span class="nombre_lab_span lab_{{reserva.laboratorio}}">{{reserva.laboratorio}}</span></td>
				<td>{{reserva.fecha_pedida}}<br>{{reserva.hora_inicio}}-{{reserva.hora_fin}}</td>
				<td class="{{reserva.estado}} primera_mayus">{{reserva.estado}}<span ng-if="reserva.lab_ofrecido"><br>&#40;Lab&nbsp;<span class="nombre_lab_span lab_{{reserva.lab_ofrecido}}">{{reserva.lab_ofrecido}}</span>&#41;</span></td>
			</tr>
		</tbody>
	</table>
	<button volver class= "botonDeVolver">Volver</button>
</div>