<div id="solicitar_reservas_div" class="contenido">
	<h3 class="titulo_pantalla">Nueva solicitud de reserva</h3>
	<form id="solicitar_reservas_form" method="post"><!--Pendiente: relacionar con php mediante angular-->
		<div class="linea_form">
			<label class="nombre_campo" for="nombre">Nombre del docente: </label><input type="text" id="nombre" class="input_deshabilitado" name="nombre" maxlength="50" required="required" oninvalid="this.setCustomValidity('Le falta ingresar su nombre')" onchange="this.setCustomValidity('')" />
		</div>
		<br>
		<div class="linea_form">
			<label class="nombre_campo" for="materia">Nombre de la materia: </label><input type="text" id="materia" name="materia" maxlength="50" required="required" oninvalid="this.setCustomValidity('Le falta ingresar la materia')" onchange="this.setCustomValidity('')" />
		</div>
		<br>
		<div class="linea_form">
			<label class="nombre_campo" for="cant_alumnos">Cantidad de alumnos: </label><input type="text" id="cant_alumnos" name="cant_alumnos" maxlength="50" required="required" oninvalid="this.setCustomValidity('Le falta ingresar la cantidad de alumnos')" onchange="this.setCustomValidity('')" />
		</div>
		<br>
		
		<div id="hover_labs" class="linea_form">
			<label class="nombre_campo">Laboratorio: </label><!--
		 <input type="radio" id="radio_medrano" name="laboratorio" value="medrano" checked="true" /> Cualquiera con capacidad suficiente-->
			<br>
			<div id="colores"><!-- se completa con JS -->
			</div>
			
		</div>
		<br>
		<br>
		
		<div id="fechas" class="linea_form">
			<label class="nombre_campo" for="datepicker1">Fecha&nbsp;y&nbsp;horario:</label><input type="text" class="date picker" id="datepicker1" name="fecha" maxlength="10" /><!--
		 --><label class="subnombre_campo" for="timepicker1_comienzo">Desde:</label><input type="text" class="time picker" id="timepicker1_comienzo" name="hora1_comienzo" maxlength="5" /><!--
		 --><label class="subnombre_campo" for="timepicker1_fin">Hasta:</label><input type="text" class="time picker" id="timepicker1_fin" name="hora1_fin" maxlength="5" />
		</div>
		<div>
			<button type="button" id="agregar_fecha" disabled="true">Agregar otra fecha</button>
		</div>
		<br>
	
	<div id="botones_form">
		<!--<div id="boton_borrar">
			<button type="button" id="borrar">Borrar todo</button>
		</div>-->
		<div id="boton_enviar"><!--
		 --><input type="submit" id="enviar" value="Enviar solicitud" />
		</div>
	</div>
	</form>
</div>