html {
	background: #216149;
	overflow-y: scroll;
}

body {
	margin: 0;
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	font-family: Verdana, Arial, sans-serif;
	
	background-color: #216149;
	background-color: -moz-linear-gradient(#000, #216149); /* For Firefox 3.6 to 15 */
	background-color: -webkit-linear-gradient(#000, #216149); /* For Safari 5.1 to 6.0 */
	background-color: -o-linear-gradient(#000, #216149); /* For Opera 11.1 to 12.0 */
	background-color: -ms-linear-gradient(#000, #216149); /*For IE 10 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000', endColorstr='#216149'); /* For IE7-8-9 */ 
	height: 1%; /* For IE 7*/ 
	background: linear-gradient(#000, #216149); /* Standard syntax */
	
	
}

h1, h2, h3 {
	margin: 0;
	letter-spacing: 1px;
}

#contenedor {
	background: #E1F2E3;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#encabezado {
	background: #0E5875;
	color: white;
	font-family: Tahoma, Arial, sans-serif;
	text-align: center;
	padding: 10px;
}

#contenido {
	padding: 10px 10px 40px 10px;
	position: relative;
	height: 180px;
}

#navegacion {
	width: 170px;
	float: left;
	/*padding-bottom: 40px;*/
	
	border-style: solid solid none solid;
	border-color: #94AA74;
	border-width: 1px;
	
	margin-right: 30px;
}

/* este no esta en el cssmenu original /*
#navegacion a {
	text-decoration: none;
	color: blue;
}
*/

#navegacion ul {
	list-style-type: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

/* nuevos para cssmenu */
#navegacion li a {
  height: 32px;
  height: 24px;
  text-decoration: none;
  font-weight: normal;
  outline: none;
}

#navegacion li a:link,
#navegacion li a:visited {
  color: #5E7830;
  display: block;
  background: url(images/menu1.gif);
  background-repeat: no-repeat;
  padding: 8px 0 0 10px;
}

#navegacion li a:hover {
  color: #26370A;
  background: url(images/menu1.gif) 0 -32px;
  background-repeat: no-repeat;
  padding: 8px 0 0 10px;
}

#navegacion li a:active {
  color: #26370A;
  background: url(images/menu1.gif) 0 -64px;
  background-repeat: no-repeat;
  padding: 8px 0 0 10px;
}
/* hasta aca los nuevos */

/* estos tampoco estan en el cssmenu
#navegacion ul li{
	padding-bottom: 5px;
}


#navegacion .selected {
	font-weight: bold;
}
*/

#principal {
	width: 750px;
	float: right;
	background: #E1F2E3;
	padding-bottom: 30px;
}

.opcion_menu {
	display: none;
}

#inicio_div {
	display: inline;
}

p {
	margin-top: 0;
}

.titulo_pantalla {
	padding-bottom: 20px;
}

.linea_form label {
	display: inline-block;
    text-align: left;
	width: 200px;
}

.linea_form input[type=text] {
    width: 160px;
}

.input_deshabilitado {
	background : #D1D1D1;
}

#colores {
	padding: 10px 0 0 200px;
}

#botones_form {	
	padding-top: 20px;
	text-align: left;
}

#botones_form input {
	font-size: large;
}

#boton_borrar {
	float: left;
}

#boton_enviar {
	text-align: right;
	padding-right: 20px;
}

#pie {
	clear: both;
	padding: 10px;
	background: #5E783A;
	color: white;
	text-align: right;
	font-size: small;
}


.hoverbox {
	display: none;
	width: 350px;
	height: 113px;
	color: white;
    background: #0E5875;
	position: absolute;
	top: 53px;
	right: 10px;
	padding: 5px;
	font-size: small;
	z-index: 10;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: #B3B3B3 2px 2px 2px;
	-moz-box-shadow: #B3B3B3 2px 2px 2px;
	box-shadow: #B3B3B3 2px 2px 2px;
}

.titulo_hoverbox {
	text-align: center;
	padding: 0;
}


.tabla_normal {
	border: 4px solid #D1D1D1;
	width: 730px;
}

.tabla_normal thead th {
    background: #0E5875;
	color: white;
	border: 2px solid #D1D1D1;
}

.tabla_normal th, .tabla_normal td {
    text-align:center; 
    vertical-align:middle;
	padding: 4px;
	border: 2px solid #D1D1D1;
	height: 52px;
}

.tabla_normal tbody tr:nth-of-type(even) {
	background:#F0F0F0;
}

.tabla_normal tbody tr:hover {
	background:#EEFFFF;
}

.solicitada {
	background: #FFF8DC; /* Cornsilk */
}

.rechazada {
	background: #DC143C; /* Crimson */
}

.contraofertada {
	background: #FF7F50; /* Coral */
}

.confirmada {
	background: #90EE90; /* LightGreen */
}


.lab_verde {
	background: #006400; /* DarkGreen */
}

.lab_azul {
	background: #00008B; /* DarkBlue */
}

.lab_rojo {
	background: #8B0000; /* DarkRed */
}

.lab_amarillo {
	background: #B8860B; /* DarkGoldenRod */
}

.nombre_lab_span {
	/*display: inline-block;
	width: 76px;*/
	color: white;
	padding: 0px 5px 0px 5px;	
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-transform: capitalize;
}

.primera_mayus {
	text-transform: capitalize;
}

.extendido{
  height: auto;
  min-height: 420px;
}